@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --neutral-900: hsl(227, 75%, 14%);
    --neutral-800: hsl(226, 25%, 17%);
    --neutral-700: hsl(225, 23%, 24%);
    --neutral-600: hsl(226, 11%, 37%);
    --neutral-300: hsl(0, 0%, 78%);
    --neutral-200: hsl(217, 61%, 90%);
    --neutral-100: hsl(0, 0%, 93%);
    --neutral-0: hsl(200, 60%, 99%);


    --red-400: hsl(3, 86%, 64%);
    --red-500: hsl(3, 71%, 56%);
    --red-700: hsl(3, 77%, 44%);
    --gradient-light: linear-gradient(180deg, #EBF2FC 0%, #EEF8F9 100%);
    --gradient-dark: linear-gradient(180deg, #040918 0%, #091540 100%);


    --noto-sans-font : "Noto Sans", sans-serif; 
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    min-height: 100vh;
    margin: 0;
    background-attachment: fixed;
    font-family: var(--noto-sans-font);
    gap: 32px;
}

.dark {
    background: var(--gradient-dark);

    .main-navbar {
        background-color: var(--neutral-600);
    }

    h2,h3 {
        color: var(--neutral-0);
    }

    .p {
        color: var(--neutral-600);
    }

    .extension {
        background-color: var(--neutral-800);
        border-color: var(--neutral-600);
    }

  
}

.light {
    background: var(--gradient-light);
    .main-navbar {
        background-color: var(--neutral-0);
    }

    h2,h3 {
        color: var(--neutral-900);
    }
}

.main-header {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    margin-top: 14px;
    width: 70%;
}

.main-navbar {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 6px;
    border-radius: 8px;
    transition: 0.4s ease width;
}

.extension-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.extension-container-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 65vw;
}

.filter-button-lists {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 12px;
    list-style-type: none;
}

/* Extension filter button style */
.filter-btn {
    padding: 8px 14px 8px 14px;
    background-color: var(--neutral-700);
    border-radius: 24px;
    border: 2px solid var(--neutral-600);
    text-decoration: none;
    color: var(--neutral-0);
}


/* Active State for list */
.filter-btn.active {
    background-color: var(--red-400);
    border-color: var(--red-400);
}
.extensions-list {
    margin-top: 32px;
    display: grid;
    grid-template-columns: repeat(3, 2fr);
    align-content: flex-start;
    gap: 12px;
    padding: 12px;
}
.extension {
    width: 350px;
    height: 200px;
    border-radius: 12px;
    border: 2px solid;
}

.extensions-info {
    display: flex;
 
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 12px;
}

.extension-box-container {
       padding: 24px;
}
.extensions-details {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 4px;
}

.extensions-details p {
    font-size: 14px;
    color: var(--neutral-300);
}

.extension-box-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    width: 100%;
}

.extensions-buttons {
    display: flex;
    align-items: center;
    justify-content: space-between;
}


/* Extension Switch */
    .active-btn {
      position: relative;
      display: inline-block;
      width: 38px;
      height: 22px;
    }

    /* Hidden checkbox */
    .active-btn input {
      opacity: 0;
      width: 0;
      height: 0;
    }

    /* Slider */
    .slider {
      position: absolute;
      cursor: pointer;
      top: 0; left: 0;
      right: 0; bottom: 0;
      background-color: var(--neutral-600);
      transition: .4s;
      border-radius: 34px;
    }

    /* Switch inside */
    .slider::before {
      position: absolute;
      content: "";
      height: 15px; 
      width: 15px;
      left: 4px;
      bottom: 3.1px;
      background-color: white;
      transition: .4s;
      border-radius: 50%;
    }

    /* Active Status */
    input:checked + .slider {
      background-color: var(--red-400);
    }

    input:checked + .slider::before {
      transform: translateX(16px);
      -webkit-transform: translateX(16px);
      -ms-transform: translateX(16px);
      -moz-transform: translateX(16px);
    }


.remove-btn {
    text-decoration: none;
    padding: 8px 12px 8px 12px;
    color: var(--neutral-0);
    border-radius: 42px;
    border: 2px solid var(--neutral-700);
    font-size: 14px;
}
/* Responsive */

@media screen and (max-width: 767px) {
    .main-header {
        width: 90%;
    }

    .extension-container-header {
        flex-direction: column;
        gap: 24px;
    }

    .extensions-list {
        grid-template-columns: repeat(1, 2fr);
        padding: 14px;

    }
}





